In [3]:
# Student Performance Predictor
# Step 1: Import required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

print("Project started successfully")

Project started successfully

In [4]:
# Step 2: Load the dataset

data = pd.read_csv("student_data.csv")
data.head()

,study_hours,attendance,sleep_hours,previous_score,stress_level,final_score
0,4,85,6,70,2,75
1,6,90,7,78,1,82
2,2,60,5,55,3,58
3,5,80,6,65,2,70
4,7,95,8,85,1,90

In [5]:
# Step 3.1: Check dataset shape

data.shape

(8, 6)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   study_hours     8 non-null      int64
 1   attendance      8 non-null      int64
 2   sleep_hours     8 non-null      int64
 3   previous_score  8 non-null      int64
 4   stress_level    8 non-null      int64
 5   final_score     8 non-null      int64
dtypes: int64(6)
memory usage: 516.0 bytes

In [7]:
data.describe()

,study_hours,attendance,sleep_hours,previous_score,stress_level,final_score
count,8.00000,8.000000,8.000000,8.000000,8.00000,8.000000
mean,4.50000,78.500000,6.125000,68.250000,2.00000,72.375000
std,2.44949,17.138095,1.457738,14.945138,0.92582,15.193396
min,1.00000,50.000000,4.000000,45.000000,1.00000,50.000000
25%,2.75000,67.500000,5.000000,58.750000,1.00000,61.000000
50%,4.50000,82.500000,6.000000,67.500000,2.00000,72.500000
75%,6.25000,91.250000,7.250000,79.750000,3.00000,84.000000
max,8.00000,98.000000,8.000000,88.000000,3.00000,92.000000

In [8]:
X = data.drop("final_score", axis=1)   # input features
y = data["final_score"]                # target variable

X.head(), y.head()

(   study_hours  attendance  sleep_hours  previous_score  stress_level
 0            4          85            6              70             2
 1            6          90            7              78             1
 2            2          60            5              55             3
 3            5          80            6              65             2
 4            7          95            8              85             1,
 0    75
 1    82
 2    58
 3    70
 4    90
 Name: final_score, dtype: int64)

In [9]:
# Step 5: Train-test split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

X_train.shape, X_test.shape

((6, 5), (2, 5))

In [10]:
# Step 6: Train Linear Regression model

from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

print("Model trained successfully")

Model trained successfully

In [11]:
# Step 7: Make predictions

y_pred = model.predict(X_test)

y_pred

array([84.79166667, 62.16666667])

In [12]:
# Step 8: Model evaluation

from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

mae = mean_absolute_error(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

print("Mean Absolute Error (MAE):", mae)
print("Root Mean Squared Error (RMSE):", rmse)

Mean Absolute Error (MAE): 1.4791666666666607
Root Mean Squared Error (RMSE): 1.9775212458473743

In [13]:
# Step 9: Predict for a new student

new_student = pd.DataFrame({
    "study_hours": [5],
    "attendance": [85],
    "sleep_hours": [7],
    "previous_score": [72],
    "stress_level": [2]
})

prediction = model.predict(new_student)

print("Predicted Final Score:", int(prediction[0]))

Predicted Final Score: 75

In [14]:
import os
print(os.getcwd())

C:\Users\Maheshwari\Documents\Student_Performance_Predictor